* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent; 
}

:root {
    --white: rgb(245, 245, 245);
    --lightred: rgb(210, 84, 74);
    --red: rgb(205, 66, 54);
    --lightblue: rgb(111, 129, 151);
    --blue: rgb(28, 55, 91);
    --tempblue: rgb(238, 241, 252);
}

body {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    /* -ms-overflow-style: none;
    scrollbar-width: none; */
}
/* 
body::-webkit-scrollbar {
    display: none;
} */
/* this is my header. I want to make two sections. A login section and a navbar */

header {
    width: 100%;
    background-color: var(--lightblue);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

/* this is my login section */

.login {
    text-align: center;
    padding: 1%
}

.name-img {
    height: 50px;
}

/* this is my nav bar section */

header nav ul {
    text-align: right;
    justify-content: center;
    align-items: center;
}

header nav li {
    list-style-type: none;
    display: inline-block;
    margin: 1rem;
    padding: 1rem;
}

header nav li:last-of-type {
    padding-right: 2rem;
}

nav a {
    text-decoration: none;
}

.topnav {
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    color: var(--blue)
}

/*body*/

main {
    
}

/* title area */

#title {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding-top: 5%;
}

.title {
    font-size: 3rem;
    color: var(--lightred)
}

/*test area*/

.test-container {
    border: 1px solid black;
    height: 700px;
    width: 800px;
    margin: 0 auto;
    background-image: url(https://www.ncctinc.com/Content/img/review/multichoice.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: white;
}

/* high scores */

#high-score {
    width: 25%;
    margin: 0 auto;
    text-align: center;
    padding-top: 5%;
    margin-bottom: 10%
}

#high-score ol {
    margin-top: 3%;
}

#high-score ol li {
    padding: 1%;
}

.container {
    
}

/* information */

#resources {
        background-color: var(--tempblue);
}

.information {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    padding: 2%;
}

.logo {
    text-align: center;
}

.logo-img {
    max-width: 30%;
}


/* footer */

footer {
    display: flex;
    align-items: flex-end;
}

.footer {
    width: 100%;
    background-color: var(--lightblue);
    height: 80%;
    text-align: center;
    padding-bottom: 1%;;
}

.copyright {
    font-size: 1rem;
    padding-top: 1%;
} 


/* decor */

.line {
    border-bottom: .2rem solid black;
}

.lightline {
    border-bottom: .1rem solid gray;
    margin-bottom: 1%;
}

#title .line {
    margin-bottom: 5%;
}

.small-title {
    font-size: 2rem;
}

.small-space {
    margin-bottom: 7%;
}