* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent; 
}

:root {
    --white: rgb(245, 245, 245);
    --lightred: rgb(210, 84, 74);
    --red: rgb(205, 66, 54);
    --lightblue: rgb(111, 129, 151);
    --blue: rgb(28, 55, 91);
    --tempblue: rgb(238, 241, 252);
    --op-lightblue: rgba(111,129,151,.2);
    --op-lightblue2: rgba(111,129,151,.9);
}

body {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: var(--white);
}

/* this is my header. I want to make two sections. A login section and a navbar */

header {
    width: 100%;
    background-color: var(--lightblue);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* this is my login section */

.login {
    text-align: center;
    padding: 1%
}

.name-img {
    height: 50px;
}

/* this is my nav bar section */





/* this is my form */

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 77vh;
    background: url(../../Assets/pictures/education3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.side-one, .side-two{
    width: 40%;
    border: 1px solid black;
    text-align: center;
    height: 55vh;
    background-color: var(--op-lightblue);
    overflow:hidden
}

.side-one:hover, .side-two:hover {
    background-color: var(--op-lightblue2);
}

/* .side-two {
    min-height: calc(.side-one);
} */

.sign-in, .sign-up {
    font-size: 2rem;
}

.sign-in {
    margin-top: 10vh;
}

.sign-up {
    margin-top: 5vh;
}

.login-container .lightline {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 5%;
}

form {
    display: table;
    margin: 0 auto;
}

form p {
    display: table-row;
    
}

form label {
    display: table-cell;
}

form input {
    display: table-cell;
    border: 1px solid black;
    text-align: center;
    padding: .5rem;
    margin: .3rem;
    color: var(--white)
}

form ::placeholder {
    color: var(--white)
}

/* information */

#resources {
        background-color: var(--tempblue);
}

.information {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    padding: 2%;
}

.logo {
    text-align: center;
}

.logo-img {
    max-width: 30%;
}


/* footer */

footer {
    display: flex;
    align-items: flex-end;
}

.footer {
    width: 100%;
    background-color: var(--lightblue);
    height: 80%;
    text-align: center;
    padding-bottom: 1%;;
}

.copyright {
    font-size: 1rem;
    padding-top: 1%;
} 


/* decor */

.line {
    border-bottom: .2rem solid black;
}

.lightline {
    border-bottom: .1rem solid var(--white);
    margin-bottom: 1%;
}

#title .line {
    margin-bottom: 5%;
}

.small-title {
    font-size: 2rem;
}

.small-space {
    margin-bottom: 7%;
}